extends main
block head
    header
        a(href="/")
            h1.tit Noting
        a(href="/")
            h1.back Back
block section
    form(action="/change", method="post").note_edit
        #note
            .in
                .head_note
                    input(name='id' type="text" value=notes[note_front].id readonly).id_input
                    input(name='new_title' type="text" value=notes[note_front].title minlength='4' maxlength='15' autocomplete="off" required).write_input
                hr
                textarea(name="new_note", cols="30", rows="7" minlength='4' required autofocus).body_note= notes[note_front].content
                .saver
                    button save