@font-face{
    font-family: sf_pro;
    src: url(../fonts/sf.ttf) 
}
*{
    padding: 0%;
    margin: 0%;
    font-family: 'sf_pro';
    color: #F3F1F1;
    border: none;
}
*::-webkit-scrollbar{
    width: 5px;
}
*::-webkit-scrollbar-thumb{
    background-color: #222831;
    border-radius: 30px;
}
body{
    background-color: #1e2022;
}
a{
    text-decoration: none;
}
header{
    justify-content: space-between;
    display: flex;
    background-color: #151717;
    border-bottom: #2361FF 2.3px solid;
}
header h1{
    padding: 10px;
}
header .tit{
    color: #2361FF
}
header .back{
    color: #ff4234b7;
}