*{
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    color: #e8e8e8;
    border: none;
}
*::-webkit-scrollbar{
    width: 5px;
}
*::-webkit-scrollbar-thumb{
    background-color: #222831;
    border-radius: 30px;
}
body{
    background-color: #1e2022;
}
header{
    background-color: #393b44;
    border-bottom: #a37eba 2.3px solid;
}
header h1{
    color: #a37eba;
    padding: 10px;
}